@model FormuarzRefresh.Models.FormModel.RestartPassword;

@{
    ViewData["Title"] = "Resetowanie hasła użytkownika";
}
<script type="text/javascript" src="~/js/ValidateRestartPasswordData.js"></script>

<form method="post" class="text-center" asp-action="RestartPassword" asp-controller="SaveForms">
    <div>
        <h1>
            Resetowanie hasła użytkownika
        </h1>

        <!--Pierwsza część formularza-->
        <div class="dropdown-list">
            <button type="button" class="dropdown-button" onclick="ChangeDisplay('FormalDataContainer', 'FormalDataArrow')">
                Dane Formalne Zgłoszenia
                <div class="arrow arrow-top" id="FormalDataArrow"></div>
            </button>
            <!--FormalDataContainer-->
            <div id="FormalDataContainer">
                <partial name="~/Views/Shared/DataFormal.cshtml" />
            </div>
        </div>

        <div class="dropdown-list">
            <button type="button" class="dropdown-button" onclick="ChangeDisplay('DataAccessContainer', 'DataAccessArrow')">
                Dane Zgłoszenia
                <div class="arrow arrow-bottom" id="DataAccessArrow"></div>
            </button>
            <!--DataAccessContainer-->
            <div class="hide" id="DataAccessContainer">
                <h3>
                    Dane dotyczące użytkownika
                </h3>
                <div class="form-line">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" id="UserName" onchange="UserNameValid()" />
                    <div class="error-message hide text-danger bold" id="UserNameError"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Wyślij" id="SubmitButton" disabled />
</form>